/* TODO: Add your fonts here (this is just a @font-face example):
@font-face {
  font-family: 'Lucid Placeholder Fonto';
  font-style: normal;
  font-weight: normal;
  src: url('~static/fonts/lucid-fonto.woff2') format('woff2'),
       url('~static/fonts/lucid-fonto.woff') format('woff'), // sass-lint:disable-line indentation
       url('~static/fonts/lucid-fonto.ttf') format('truetype'); // sass-lint:disable-line indentation
  font-display: swap; // display content before font is loaded!
}
*/

@import url("https://use.typekit.net/rgy5gqh.css");