// Settings – Colors

$s-color-black: #000;
$s-color-white: #fff;
$s-color-blue: #000BFF;
$s-color-red: #FF3D3D;
$s-color-neutral: #FFD679;
$s-color-death: $s-color-black;
$s-color-on: #ABF39D;

$s-color-body-background: $s-color-white;
$s-color-text-default: $s-color-black;

$s-color-primary: $s-color-blue;
$s-color-grey: #E9E9E9;
